body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}

.container {
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 30px;
}

.card {
  background-color: #1e293b;
  margin: 20px auto;
  padding: 20px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  font-weight: bold;
}

.alert {
  color: #ff4d4d;
  font-size: 20px;
  font-weight: bold;
}

.safe {
  color: #4ade80;
  font-size: 20px;
  font-weight: bold;
}